body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: repeating-linear-gradient(coral, blue, coral);
    height: 100hv;
    max-height: 100hv;
}

input{
    border-radius: 20px;
    border: coral solid 
}

section{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.527);
}

